<article class="row subtitle-details">
  <h1><%= @subtitle.episode.show.title %></h1>
  <footer class="fourcol">
    <img src="#" alt="#" />
  </footer>
  <div class='content eightcol last'>
    <h2><%= @subtitle.episode.title %></h2>
    <%= link_to "Download", subtitle_download_path(@subtitle) %>
  </div>
</article>

