<% if @subtitles.empty? %>
  No subtitles yet. Would you like to upload one now?
<% else %>
  <% if user_signed_in? %>
    <h1>Newest</h1>
  <% else %>
    <h1>Top Downloads</h1>
  <% end %>

  <ul>
    <% @subtitles.each do |subtitle| %>
      <li>
      <%= link_to "#{subtitle.episode.show.title} Season #{subtitle.episode.season} Episode #{subtitle.episode.number}", subtitle %>
      </li>
    <% end %>
  </ul>
<% end %>
