<% if @subtitles.empty? %>
  No subtitles yet. Would you like to upload one now?
<% else %>
  <div class="row">
    <% if user_signed_in? %>
      <h1>Newest</h1>
    <% else %>
      <h1>Top Downloads</h1>
    <% end %>
  </div>

  <ul class="featured subtitles row">
    <%= render :partial => 'subtitle', :object => @subtitles.first, :locals => {:featured => true, :last => false} %>
    <% (0..2).each do |r| %>
      <div class="subtitles row">
        <% (1..3).each do |i| %>
          <%= render :partial => 'subtitle', :object => @subtitles[i+(3*r)], :locals => {:featured => false, :last => i == 3} %>
        <% end %>
      </div>
    <% end %>
  </ul>
<% end %>
